html {
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    width: 960px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

h1, h2, h3 {
    border-color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    width:  225px;
    color: white;
    background-color: #4aaaa5;
}
h2 {
    color: #4aaaa5;
    background-color: white;
}